@import './normalize.css';
@import './variables.scss';

@mixin btn {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
}

body {
  margin: 0;
}

// main-content

.container {
  margin: 0 auto;
}

.search {
  display: flex;
  align-items: center;
  margin: 60px 0px 40px 100px;
  position: relative;
}

.input {
  width: 25vw;
  height: 45px;
  border-radius: 15px;
  padding: 8px 8px 8px 50px;
  font-size: 1.7rem;
  border: 2px solid rgb(64, 84, 117);

  &:focus{
    border: none;
    border: 2px solid $btn-color;
  }
}

.btn {
  width: 100px;
  height: 45px;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 10px;
  background-color: $btn-color;
  border: none;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: rgb(39, 57, 92)
  }

}

.svg {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 10px;
  top: 13%;
  color: rgba(104, 108, 117, 0.6);
}

// cards

.cards{
  margin: 80px 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 50px;
}

.card {
  display: flex;
  height: 350px;
  width: 30%;
  margin: 0 20px;
  
  & img {
    height: auto;
    margin-right: 15px;
  }
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 10px;
}

.info {
  font-size: 1.3rem;
  font-weight: 500;
}

.info-text {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: 1.4rem;
}

.btns {
  display: flex;
  column-gap: 10px;
  margin-top: 10px
}

.btn-buy {
  @include btn();
  background-color: $btn-color;
  &:hover {
    background-color: rgb(39, 57, 92)
  }
}

.btn-add {
  @include btn();
  background-color: rgb(179, 168, 229);
  &:hover {
    background-color: rgb(149, 141, 188) 
  }
}

@media (max-width: 1280px) {
  .card {
    width: 45%;
  }  
}
