$header-color: rgb(91, 103, 127);
$btn-color: rgb(77, 110, 176);
$btn-color-light: rgb(179, 168, 229);

:export {
  header-color: $header-color;
  btn-color: $btn-color;
  btn-color-light: $btn-color-light;
}
